p1{
    background: black;
    color:aqua ;
    text-align: center;
    text-shadow: 5px 5px 3px whitesmoke;
}
div{
    margin: auto;
    width: max-content;
}
.image1{
    height: 100px;
    width: 100px;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 5px 5px 5px green;
}